<%= form_with model: post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, "aria-invalid": post.errors[:title].any? || nil %>
    <% if post.errors[:title].any? %>
      <small><%= post.errors[:title].first %></small>
    <% end %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body, "aria-invalid": post.errors[:body].any? || nil, rows: 10 %>
    <% if post.errors[:body].any? %>
      <small><%= post.errors[:body].first %></small>
    <% end %>
  </div>

  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <article>
    <header>Preview</header>
    <div id="preview">
      <%= render_markdown(post.body) %>
    </div>
  </article>

  <div>
    <%= f.submit %>
  </div>
<% end %>
